version: 2.1

orbs:
  docker: circleci/docker@2.1.1

jobs:
  test:
    docker:
      - image: cimg/python:3.12
    steps:
      - checkout
      - run:
          name: Check Python version
          command: python --version
      - restore_cache:
          keys:
            - deps-{{ checksum "requirements.txt" }}
      - run:
          name: Create and activate virtual environment
          command: |
              python -m venv venv
              . venv/bin/activate
              python --version
      - run:
          name: Install dependencies
          command: |
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          paths:
            - ./venv
          key: deps-{{ checksum "requirements.txt" }}
      - run:
          name: Run tests with pytest
          command: |
            . venv/bin/activate
            python -m pytest
      - run:
          name: Run Flake8
          command: |
            . venv/bin/activate
            flake8

  build-and-push-docker:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - setup_remote_docker
      - docker/check
      - docker/build:
          image: flojouff/oc-lettings
          tag: ${CIRCLE_SHA1}
      - docker/push:
          image: flojouff/oc-lettings
          tag: ${CIRCLE_SHA1}

  deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - run:
          name: Deploy to Render
          command: |
            curl -X POST "https://api.render.com/deploy/srv-${RENDER_SERVICE_ID}?key=${RENDER_API_KEY}" \
              -H "Content-Type: application/json" \
              -d '{"imageTag": "'${CIRCLE_SHA1}'"}'

workflows:
  version: 2
  test-build-deploy:
    jobs:
      - test
      - build-and-push-docker:
          requires:
            - test
          filters:
            branches:
              only: master
      - deploy:
          requires:
            - build-and-push-docker
          filters:
            branches:
              only: master