version: 2.1

orbs:
  docker: circleci/docker@2.1.1

jobs:
  test:
    docker:
      - image: cimg/python:3.12
    steps:
      - checkout
      - run:
          name: Check Python version and environment
          command: |
            python --version
            pip --version
            echo $PATH
            which python
      - restore_cache:
          keys:
            - deps-{{ checksum "requirements.txt" }}
      - run:
          name: Install dependencies
          command: |
            pip install -r requirements.txt
      - save_cache:
          paths:
            - ~/.cache/pip
          key: deps-{{ checksum "requirements.txt" }}
      - run:
          name: Run tests with pytest
          command: pytest
      - run:
          name: Run Flake8
          command: flake8

  build-and-push-docker:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - setup_remote_docker
      - docker/check
      - run:
          name: Build docker image
          command: docker build -t ${DOCKER_USERNAME}/oc-lettings:latest .
      - run:
          name: Push docker image
          command: |
              echo ${DOCKER_PASSWORD} | docker login -u ${DOCKER_LOGIN} -p ${DOCKER_PASSWORD}
              docker push ${DOCKER_USERNAME}/oc-lettings:latest 

  deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - run:
          name: Deploy to Render
          command: |
            curl -X POST "https://api.render.com/deploy/srv-${RENDER_SERVICE_ID}?key=${RENDER_API_KEY}" \
              -H "Content-Type: application/json" \
              -d '{"imageTag": "'${CIRCLE_SHA1}'"}'

workflows:
  version: 2
  test-build-deploy:
    jobs:
      - test
      - build-and-push-docker:
          requires:
            - test
          filters:
            branches:
              only: master
      - deploy:
          requires:
            - build-and-push-docker
          filters:
            branches:
              only: master