version: 2.1

orbs:
  docker: circleci/docker@2.1.1

jobs:
  pytest:
    docker:
      - image: cimg/python:3.12
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "requirements.txt" }}
      - run:
          name: Install dependencies
          command: |
            python -m venv venv
            . venv/scripts/activate
            pip install -r requirements.txt
      - save_cache:
          paths:
            - ./venv
          key: deps-{{ checksum "requirements.txt" }}
      - run:
          name: Run tests with pytest
          command: |
            . venv/scripts/activate
            pytest
  flake8:
    docker:
      - image: cimg/python:3.12
    steps:
      - checkout
      - run:
          name: Install Flake8
          command: pip install flake8==3.7.0
      - run:
          name: check linting with Flake8
          command: flake8

  build-and-push-docker:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - setup_remote_docker
      - docker/check
      - docker/build:
          image: FloJouff/oc-lettings
          tag: ${CIRCLE_SHA1}
      - docker/push:
          image: FloJouff/oc-lettings
          tag: ${CIRCLE_SHA1}

  deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - run:
          name: Deploy to Render
          command: |
            curl -s "https://api.render.com/deploy/srv-${RENDER_SERVICE_ID}?key=${RENDER_API_KEY}" \
              -H "Content-Type: application/json" \
              -d '{"imageTag": "'${CIRCLE_SHA1}'"}'

workflows:
  version: 2
  test-build-deploy:
    jobs:
      - pytest
      - flake8
      - build-and-push-docker:
          requires:
            - pytest
            - flake8
          filters:
            branches:
              only: master
      - deploy:
          requires:
            - build-and-push-docker
          filters:
            branches:
              only: master